<form method="post" action="{{ path('app_genre_book_delete', {'id': genre_book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre_book.id) }}">
    <button class="btn">Delete</button>
</form>
