{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
    {% block body %}    
    
    <div class="container mt-4">
        <h1>Se connecter</h1>
    </div>
    
    
    
    
    
    
    
    
    
    
    {% endblock %}