
body

{
    background-image: url("images/background.png") !important;
    background-repeat: repeat;
    width: 100%;
    margin: auto;
    background-color:antiquewhite;

    
}

nav
{

    background-color:  #d4783f;

}