
{% extends 'base.html.twig' %}
{% block title %}
    Acceuil
{% endblock  %}

{% block body %}
<h1 class="text-center">MEDIATHEQUE</h1>
<input id="searchbar" onkeyup="search-book()" type="text" name="search" placeholder="Chercher un livre">
<img src="./images/magnifying-glass-solid.svg" width="30" align="right">

<h2 class="display-2">NOUVEAUTÉS</h2>

<div class="container-fluid">
    <div class="articles row">
        <div class="col-12 col-md-7 col-lg-3">
         <p>

         </p>   
        </div>
        
         </div>

</div>
<div class="container-fluid">
    <div class="articles row">
        <div class="col-12 col-md-7 col-lg-3">
         <p>

         </p>   
        </div>
        
         </div>



{% endblock %}
